html {
    font-family: 'DM Sans', sans-serif;
    color: #757575;
}

body {
    width: 21cm;
    margin: auto;
    padding: 1rem;
}

em {
    color: #ed1c24;
}

@media print {
    html {
        font-size: 23px;
    }

    body {
        width: 80%;
    }
}