html {
    font-family: 'DM Sans', sans-serif;
    color: #757575;
}

body {
    max-width: 21cm;
    margin: auto;
    padding: 1.5rem;
}

em {
    color: #ed1c24;
}

@media print {
    html {
        font-size: 11px;
    }

    body {
        max-width: 80%;
    }

    section:nth-of-type(2) {
        page-break-before: always;
    }
}